						<% budget_product = budget.budgets_products.find_by_product_id(product.id) %>

						<tr id='<%= "product_id_#{product.id}" %>'>
							<td class="td_code">
								<%= product.code %>
							</td>

							<td class="td_supplier">
								<%= product.supplier.name %>
							</td>

							<td class="td_description" style="word-wrap:break-word; ">
								<%= product.description %>
							</td>

							<td class="td_width">
								<%= product.width %>
							</td>

							<td class="td_supplier_price">
								<%= number_to_currency(product.supplier_price) %>
							</td>


							<td class="td_pencil">
								<a href="#" onclick='<%= "enable_this_tr_forms(#{product.id}); " %>'>
									<i class="icon icon-pencil"></i>
								</a>
							</td>


							<td class="td_quantity" style="padding: 0 5px 0 5px; margin:0; ">
		            <%= simple_form_for budget_product,
		            										url: update_product_attributes_budgets_path,
							            					method: :get,
							            					remote: true,
							            					html: {class: 'hide_this_form',
							            					style: 'margin: 0;
							            									padding: 0;
							            									border: 0px solid red; ',
																		id: "#{product.id}"} do |f| %>

		              <%= f.hidden_field :id %>

		              <%= f.input_field :quantity,
		                          			as: :string,
		                       					onblur: '$(this).closest("form").submit(); ',
		                          			style: 'float: left;
		                          							width: 30px;
		                          							margin:0;
		                          							padding:2px;  ' %>          
		            <% end %>

								<span>
									<%= budget_product.quantity %>
								</span>
							</td>


							<td class="td_markup" style="padding: 0 5px 0 5px; margin:0; ">
								<% if budget.markup %>
									<% markup_value = budget.markup %>
								<% else %>
									<% markup_value = budget_product.markup %>
								<% end %>

		            <%= simple_form_for budget_product,
		            										url: update_product_attributes_budgets_path,
							            					method: :get,
							            					value: markup_value,
							            					remote: true,
							            					html: {class: 'hide_this_form',
							            								 style: 'margin: 0;
							            					  						 padding: 0;
							            												 border: 0px solid red; ',
							            					id: "#{product.id}"} do |f| %>

		              <%= f.hidden_field :id %>

		              <%= f.input_field :markup,
		                          			as: :string,
		                       					onblur: '$(this).closest("form").submit(); ',
		                          			style: 'float: left; width: 30px; margin:0; padding:2px;  ' %>          
		            <% end %>

								<span>
									<%= "#{markup_value}%" %>
								</span>
							</td>


							<td class="td_ipi">
								<%= "#{product.ipi}%" %>
							</td>


							<td class="td_price">
								<% if(product.supplier_price && product.ipi && budget_product.markup && budget_product.quantity) %>
									
									<% price = compute_price(product.supplier_price, product.ipi, budget_product.markup, budget_product.quantity) %>
								<% end %>
								<span>
									<%= number_to_currency(price) %>
								</span>

								<i class="icon" style="font-size: 14px; "></i>
							</td>



							<td class="td_delete">
								<%= link_to content_tag(:i, '', class: "icon-trash"),
	                    			update_products_list_budgets_path(budget_id: @budget.id,
	                    																				product_id: product.id,
	                    																				delete: true),
	                    																				remote: true %>
	 						</td>
						</tr>
