						<% product = Product.find(budget_product.product_id) %>

						<tr id='<%= "product_id_#{budget_product.id}" %>'>
							<td class="td_code">
								<%= product.code %>
							</td>

							<td class="td_product_type">
								<%= t :"activerecord.attributes.product.product_type#{product.product_type}" %>
							</td>

							<td class="td_supplier">
								<%= product.supplier.name %>
							</td>

							<td class="td_description" style="word-wrap:break-word; ">
								<%= product.description %>
							</td>



							<td class="td_pencil_house_area">
								<a href="#" onclick='<%= "enable_this_tr_forms(#{budget_product.id}, 'house_area'); " %>'>
									<i class="icon icon-pencil"></i>
								</a>
							</td>



							<td class="td_house_area" style="padding: 0 5px 0 5px; margin:0; ">
		            <%= simple_form_for budget_product,
		            										url: update_product_attributes_budgets_path,
							            					method: :get,
							            					remote: true,
							            					html: {class: 'hide_this_form',
							            					style: 'margin: 0;
							            									padding: 0;
							            									border: 0px solid red; ',
																		id: "form_house_area_#{budget_product.id}"} do |f| %>

		              <%= f.hidden_field :id, value: budget_product.id %>

		              <%= f.input_field :house_area,
		                          			as: :string,
		                       					onblur: '$(this).closest("form").submit(); ',
		                          			style: 'float: left;
		                          							width: 70px;
		                          							margin:0;
		                          							padding:2px;  ' %>          
		            <% end %>

								<% if !budget_product.house_area.blank? %>
									<span>
										<%= budget_product.house_area %>
									</span>
								<% else %>
									<span style="color: red; ">
										p
									</span>
								<% end %>

								<i class="icon" style="font-size: 14px; "></i>
							</td>


							<td class="td_pencil_days_to_delivery">
								<a href="#" onclick='<%= "enable_this_tr_forms(#{budget_product.id}, 'days_to_delivery'); " %>'>
									<i class="icon icon-pencil"></i>
								</a>
							</td>

							<td class="td_days_to_delivery" style="padding: 0 5px 0 5px; margin:0; ">
		            <%= simple_form_for budget_product,
		            										url: update_product_attributes_budgets_path,
							            					method: :get,
							            					remote: true,
							            					html: {class: 'hide_this_form',
							            					style: 'margin: 0;
							            									padding: 0;
							            									border: 0px solid red; ',
																		id: "form_days_to_delivery_#{budget_product.id}"} do |f| %>

		              <%= f.hidden_field :id %>

		              <%= f.input_field :days_to_delivery,
		                          			as: :string,
		                       					onblur: '$(this).closest("form").submit(); ',
		                          			style: 'float: left;
		                          							width: 20px;
		                          							margin:0;
		                          							padding:2px;  ' %>          
		            <% end %>


								<% if budget_product.days_to_delivery %>
									<span>
										<%= budget_product.days_to_delivery %>
									</span>
								<% else %>
									<span style="color: red; ">
										p
									</span>
								<% end %>

								<i class="icon" style="font-size: 14px; "></i>
							</td>




							<td class="td_width">
								<%= "#{product.width} cm" %>
							</td>


							<td class="td_height">
								<% if product.height > 0  %>
									<%= "#{product.height} cm" %>
								<% else %>
									---
								<% end %>
							</td>


							<td class="td_pencil_quantity">
								<a href="#" onclick='<%= "enable_this_tr_forms(#{budget_product.id}, 'quantity'); " %>'>
									<i class="icon icon-pencil"></i>
								</a>
							</td>


							<td class="td_quantity" style="padding: 0 5px 0 5px; margin:0; ">
		            <%= simple_form_for budget_product,
		            										url: update_product_attributes_budgets_path,
							            					method: :get,
							            					remote: true,
							            					html: {class: 'hide_this_form',
							            					style: 'margin: 0;
							            									padding: 0;
							            									border: 0px solid red; ',
																		id: "form_quantity_#{budget_product.id}"} do |f| %>

		              <%= f.hidden_field :id %>

		              <%= f.input_field :quantity,
		                          			as: :string,
		                       					onblur: '$(this).closest("form").submit(); ',
		                          			style: 'float: left;
		                          							width: 30px;
		                          							margin:0;
		                          							padding:2px;  ' %>          
		            <% end %>


								<% if budget_product.quantity %>
									<span>
										<%= budget_product.quantity %>
									</span>
								<% else %>
									<span style="color: red; ">
										p
									</span>
								<% end %>
							</td>


							<td class="td_price">
								<% if(product.supplier_price && product.ipi && product.markup && budget_product.quantity) %>
									
									<% price = compute_price(product.supplier_price,
																					 product.ipi,
																					 product.markup,
																					 budget_product.quantity) %>
								<% end %>

								<span>
									<% if price %>
										<%= number_to_currency(price) %>
									<% else %>
										<span style="color: red; ">p</span>
									<% end %>
								</span>



								<i class="icon" style="font-size: 14px; "></i>
							</td>



							<td class="td_delete">
								<%= link_to content_tag(:i, '', class: "icon-trash"),
	                    			update_products_list_budgets_path(budget_id: @budget.id,
	                    																				product_id: product.id,
	                    																				budget_product_id: budget_product.id,
	                    																				delete: true),
	                    																				remote: true %>
	 						</td>
						</tr>
