						<tr id='<%= "product_id_#{product.id}" %>'>
							<td class="td_code">
								<%= product.code %>
							</td>

							<td class="td_supplier">
								<%= product.supplier.name %>
							</td>

							<td class="td_description">
								<%= product.description %>
							</td>

							<td width="100px" class="td_supplier_price">
								<%= number_to_currency(product.supplier_price) %>
							</td>

							<td width="50px" class="td_width">
								<%= product.width %>
							</td>



							<td class="td_quantity" style="padding: 0; margin:0; ">
		            <%= simple_form_for product, url: update_product_attributes_budgets_path,
		            														 method: :get,
		            														 remote: true,
		            														 html: {class: '',
		            														 				style: 'margin: 0;
		            														 								padding: 0;
		            														 								border: 0px solid red;
		            														 								width: 40px; ',
		            														 				id: "#{product.id}"} do |f| %>

		              <%= f.hidden_field :id %>

		              <%= f.input_field :quantity,
		                          			as: :string,
		                       					onblur: '$(this).closest("form").submit(); ',
		                          			style: 'width: 30px; margin:0; padding:2px;  ' %>          
		            <% end %>
							</td>


							<td class="td_ipi">
								<%= product.ipi %>
							</td>


							<td class="td_markup">
								<%= product.markup %>
							</td>


							<td class="td_delete">
								<%= link_to content_tag(:i, '', class: "icon-trash"),
	                    			update_products_list_budgets_path(budget_id: @budget.id,
	                    																				product_id: product.id,
	                    																				delete: true),
	                    			remote: true %>
	 						</td>
						</tr>
