
    <div style="padding: 5px; margin:  5px 0 5px 0; display: none; " id="div_budget_delivery_details_edit" class="well no_borders_shadow">

   	    <%= simple_form_for @budget, html: {class: 'form-inline', style: 'margin: 0; padding: 0; '} do |f| %>



					<% @delivery_options = @budget.delivery_options.sort_by(&:id) %>

					<% @delivery_options.each do |delivery_option| %>
				

		        <table style="padding: 0; margin: 0; border: 0px solid blue; width: 100%; ">
						  <%= f.simple_fields_for "delivery_option[]", delivery_option do |d| %>
			          <tr>
			            <td width="100px" style="border: 0px solid red; padding: 5px; ">
			            	<%= delivery_option.name %>
			            </td>

			            <td width="70px" style="border: 0px solid red; ">
			            	<%= d.input :option1,
			            							wrapper: :basic,
			            							label: delivery_option.option1_label %>
			            </td>

			            <td width="70px" style="border: 0px solid red; ">
				            <%= d.input :option2,
				            						wrapper: :basic,
				            						label: delivery_option.option2_label %>
			            	
			            </td>

			            <td width="70px" style="border: 0px solid red; ">
			            	<% if delivery_option.option3_label != "" %>
				            	<%= d.input :option3,
				            							wrapper: :basic,
				            							label: delivery_option.option3_label %>
				            <% end %>							
			            </td>

			            <td width="70px" style="border: 0px solid red; ">
 			            	<% if delivery_option.option4_label != "" %>
				            	<%= d.input :option4,
				            							wrapper: :basic,
				            							label: delivery_option.option4_label %>
				            <% end %>
			            </td>

			            <td>
			            	<%= d.input :observations,
			            							wrapper: :basic,
			            							label: "observação",
			            							label_html: { style: 'width: 80px;
	              																	padding-right: 10px;
	              																	text-align: left; '},
	              								input_html: { rows: 1,
	              															style: 'width: 675px; ',
	              															maxlength: 75 } %>
			            </td>
			          </tr>
				    	<% end %>
				    </table>
				  <% end %>

						<table style="width: 100%; margin: 0; border: 0px solid red; ">
							<tr>
								<td style="border: 0px solid red; padding-top: 10px; " colspan="4">								
								</td>

		            <td width="80px" style="border: 0px solid red; ">
		              <button style="float: right; margin: 3px 10px 0 0; " class="btn btn-small btn-primary" name="commit" type="submit" onclick="">
		                <b>confirmar</b>
		                <i id="icon-loading-confirm-customer" class=""></i>
		              </button>
		            </td>
							</tr>
						</table>
       	<% end %>
      </div>