  		<% @price_total = 0 %>
			<% @quantity_total = 0 %>


			<% @budgets_products.each do |budget_product| %>

				<% product = Product.find(budget_product.product_id) %>

				<%= render partial: 'compute_price',
									 locals: {product: product,
								 	   			  budget_product: budget_product} %>

					<!-- compute totals for price column -->
					<% (@price_total = @price_total + @price) if @price %>

					<% (@quantity_total = @quantity_total + budget_product.quantity) if budget_product.quantity %>

			<% end %>



    <div style="padding: 5px; margin: 0; margin-bottom: 5px; display: none_; " id="div_budget_more_details_edit" class="well no_borders_shadow">

   	    <%= simple_form_for @budget, html: {class: 'form-inline', style: 'margin: 0; padding: 0; '} do |f| %>
	        <table style="padding: 0; margin: 0; border: 0px solid red; width: 100%; ">
	          <tr>
	            <td width="70px">
	              <%= f.input :freight,
	              						wrapper: :basic %>
	            </td>

	            <td width="90px">
	              <%= f.input :instalation,
	              						wrapper: :basic %>
	            </td>


	            <td width="" style="border: 0px solid red; ">
	              <%= f.input :instalation_observations,
	              						wrapper: :basic,
	              						label_html: { style: 'width: 150px;
	              																	padding-right: 10px;
	              																	text-align: right; '},
	              						input_html: { rows: 1,
	              													style: 'width: 640px; ' } %>
	            </td>
	          </tr>
	        </table>



				<% if @budget.initial_payment %>
					<% budget_initial_payment = number_to_currency(@budget.initial_payment).gsub(/[^0-9,.]/, '') %>
				<% else %>
					<% budget_initial_payment = nil %>
				<% end %>



					<table style="width: 100%; margin-top: 5px; ">


						<tr>
							<td style="border: 0px solid red; " colspan="5">
								<%= f.input :observations,
														wrapper: :basic,
														label_html: { style: 'width: 80px;
	              																	padding-right: 10px;
	              																	text-align: left; '},
	              						input_html: { rows: 1,
	              													style: 'width: 875px; ' } %>
							</td>



	            <td width="80px" style="border: 0px solid red; ">
	              <button style="float: right; " class="btn btn-small btn-primary" name="commit" type="submit" onclick="">
	                <b>confirmar</b>
	                <i id="icon-loading-confirm-customer" class=""></i>
	              </button>
	            </td>
						</tr>











						<tr>
							<td width="340px" style="border: 0px solid red; ">
								<b><%= t :"activerecord.attributes.budget.payment_condition" %></b>
							
								<%= f.input :initial_payment,
														input_html: { value: budget_initial_payment, style: 'margin-left: 5px; width: 70px; '},
														label_html: {style: 'margin-left: 20px; '},
	              						wrapper: :basic %>

							</td>


							
							<!-- format initial_payment -->
							<% if @budget.initial_payment %>
								<% budget_initial_payment = @budget.initial_payment %>
							<% else %>
								<% budget_initial_payment = 0 %>
							<% end %>



							<% @budget_payment_conditions = @budget.payment_conditions.sort_by(&:id) %>

							<% @budget_payment_conditions.each do |payment_condition| %>
		      			<%= f.simple_fields_for "payment_condition[]", payment_condition do |p| %>


		      				<% @price_per_month = (@price_total - budget_initial_payment) / payment_condition.num_monthly_payments if payment_condition.num_monthly_payments %>

		      				<% if payment_condition.num_monthly_payments %>
										<% label1 = "#{payment_condition.num_monthly_payments}x #{number_to_currency(@price_per_month)}" %>
										<% label2 = false %>
									<% else %>
										<% label1 = false %>
										<% label2 = "x" %>
									<% end %>

									<td style="border: 0px solid red; ">
										<%= p.input :active,
																wrapper: :basic,
																label: label1 %>

											<% if !payment_condition.num_monthly_payments %>
												<% display_input = "" %>
											<% else %>
												<% display_input = "display: none; " %>
											<% end %>



											<% if !payment_condition.num_monthly_payments || payment_condition.num_monthly_payments > 4 %>

												<%= p.input :num_monthly_payments,
																		wrapper: :basic,
																		input_html: { style: "width: 15px; #{display_input} ", id: "custom_monthly_payment_option" },
																		label: false %>
											<% end %>


										<% if !payment_condition.num_monthly_payments %>
											<span>
												<%= label2 %>
											</span>
										<% end %>


										<% if !payment_condition.num_monthly_payments || payment_condition.num_monthly_payments > 4 %>
											<a href="#">
												<i class="icon icon-pencil icon-white" onclick="enable_payment_condition_input(); "></i>
											</a>
										<% end %>
									</td>

								<% end %>
							<% end %>


							<td width="80px" style="border: 0px solid red; ">
								<%#= p.input %>
								<%#= @payment_condition1.num_monthly_payments %>
								<%#= @payment_condition2.num_monthly_payments %>
								<%#= @payment_condition3.num_monthly_payments %>
								<%#= @payment_condition4.num_monthly_payments %>
							</td>
						</tr>
					</table>
					
       	<% end %>
      </div>