						<% product = Product.find(budget_product.product_id) %>

						<tr id='<%= "product_id_#{budget_product.id}" %>'>
							<td class="td_checkbox" style="padding-left: 0px; padding-right: 3px; ">
								<% if budget_product.request %>
									<%= link_to budget_product.request.request_number, request_path(budget_product.request.id, format: 'pdf'), target: '_blank' %>
								<% else %>
									<%= simple_form_for budget_product,
			            										url: update_product_attributes_budgets_path,
								            					method: :get,
								            					remote: true,
								            					html: {class: 'form-inline',
											            					 style: 'margin: 0;
											            									 padding: 0;
											            									 height: 15px;
											            									 border: 0px solid red; ',
																						 id: "form_product_active_#{budget_product.id}"} do |f| %>

			              <%= f.hidden_field :id, value: budget_product.id %>


			              <%= f.hidden_field :budget_status_dont_change, value: true %>

			              <%= f.input_field :active,
			                          			onclick: '$(this).closest("form").submit(); ',
			                          			class: 'budget_list_row_checkbox_field',
						                          style: 'padding: 0;			 
						                                  margin: 0; ' %>
			            <% end %>
								<% end %>
							</td>


							<td class="td_code" style="text-overflow: ellipsis; max-width: 90px; overflow:hidden; padding-left: 0px; padding-right: 3px; ">
								<div class="" style="text-overflow: ellipsis; overflow:hidden; ">
									<%= product.code %>
								</div>
							</td>


							<td class="td_product_type" style="padding-left: 0px; padding-right: 3px; ">
								<% if product.product_type == 3 %>
									<b>
										<a href="#" id='<%= "#{budget_product.id}" %>'>
											<%= t :"activerecord.attributes.product.product_type#{product.product_type}" %>
										</a>
									</b>
								<% else %>
									<b>
										<%= t :"activerecord.attributes.product.product_type#{product.product_type}" %>
									</b>
								<% end %>

								<%= render '/budgets/popover', budget_product: budget_product %>
							</td>

							<td class="td_supplier" style="text-overflow: ellipsis; max-width: 100px; overflow:hidden; ">
								<div class="" style="text-overflow: ellipsis; overflow:hidden; ">
									<%= product.supplier.name %>
								</div>
							</td>


							<td class="td_description" style="text-overflow: ellipsis; max-width: 120px; overflow:hidden; ">
								<div class="" style="text-overflow: ellipsis; overflow:hidden; ">
									<%= product.description %>
								</div>
							</td>


							<td class="td_pencil_product_observations">
								<a href="#" onclick='<%= "enable_this_tr_forms(#{budget_product.id}, 'product_observations'); " %>'>
									<i class="fa fa-pencil"></i>
								</a>
							</td>



							<td class="td_product_observations" style="padding: 0 5px 0 5px; margin:0; ">
		            <%= simple_form_for budget_product,
		            										url: update_product_attributes_budgets_path,
							            					method: :get,
							            					remote: true,
							            					html: {class: 'hide_this_form',
							            					style: 'margin: 0;
							            									padding: 0;
							            									border: 0px solid red; ',
																		id: "form_product_observations_#{budget_product.id}"} do |f| %>

		              <%= f.hidden_field :id, value: budget_product.id %>

		              <%= f.input_field :product_observations,
		                          			as: :string,
		                          			maxlength: 10,
		                       					onblur: '$(this).closest("form").submit(); ',
		                          			style: 'float: left;
		                          							width: 70px;
		                          							margin:0;
		                          							padding:2px; ' %>          
		            <% end %>

								<% if !budget_product.product_observations.blank? %>
									<span>
										<%= budget_product.product_observations %>
									</span>
								<% else %>
									<span style="">
										<%= '...' %>
									</span>
								<% end %>

								<i class="fa" style="font-size: 14px; "></i>
							</td>





							<td class="td_pencil_house_area">
								<a href="#" onclick='<%= "enable_this_tr_forms(#{budget_product.id}, 'house_area'); " %>'>
									<i class="fa fa-pencil"></i>
								</a>
							</td>



							<td class="td_house_area" style="padding: 0 5px 0 5px; margin:0; ">
		            <%= simple_form_for budget_product,
		            										url: update_product_attributes_budgets_path,
							            					method: :get,
							            					remote: true,
							            					html: {class: 'hide_this_form',
							            					style: 'margin: 0;
							            									padding: 0;
							            									border: 0px solid red; ',
																		id: "form_house_area_#{budget_product.id}"} do |f| %>

		              <%= f.hidden_field :id, value: budget_product.id %>

		              <%= f.input_field :house_area,
		                          			as: :string,
		                          			maxlength: 10,
		                       					onblur: '$(this).closest("form").submit(); ',
		                          			style: 'float: left;
		                          							width: 70px;
		                          							margin:0;
		                          							padding:2px; ' %>          
		            <% end %>

								<% if !budget_product.house_area.blank? %>
									<span>
										<%= budget_product.house_area %>
									</span>
								<% else %>
									<span style="color: red; ">
										<%= t :"activerecord.attributes.product.please_fill" %>
									</span>
								<% end %>

								<i class="fa" style="font-size: 14px; "></i>
							</td>







							<td class="td_pencil_freight">
								<a href="#" onclick='<%= "enable_this_tr_forms(#{budget_product.id}, 'freight'); " %>'>
									<i class="fa fa-pencil"></i>
								</a>
							</td>


							<% if budget_product.freight %>
								<% freight_input_value = number_to_currency(budget_product.freight).gsub(/[^0-9,.]/, '') %>
							<% else %>
								<% freight_input_value = nil %>
							<% end %>


							<td class="td_freight" style="padding: 0 5px 0 5px; margin:0; ">
		            <%= simple_form_for budget_product,
		            										url: update_product_attributes_budgets_path,
							            					method: :get,
							            					remote: true,
							            					html: {class: 'hide_this_form',
							            					style: 'margin: 0;
							            									padding: 0;
							            									border: 0px solid red; ',
																		id: "form_freight_#{budget_product.id}"} do |f| %>

		              <%= f.hidden_field :id %>

		              <%= f.input_field :freight,
		                          			as: :string,
		                          			class: 'product_freight_input',
		                       					onblur: '$(this).closest("form").submit(); ',
		                       					value: freight_input_value,
		                          			style: 'float: left;
		                          							width: 58px;
		                          							margin:0;
		                          							padding:2px; ' %>          
		            <% end %>


								<% if !budget_product.freight.nil? %>
									<span>
										<%= number_to_currency(budget_product.freight) %>
									</span>
								<% else %>
									<span style="color: red; ">
										<%= t :"activerecord.attributes.product.please_fill" %>
									</span>
								<% end %>

								<i class="fa" style="font-size: 14px; "></i>
							</td>


							<td class="td_pencil_days_to_delivery">
								<a href="#" onclick='<%= "enable_this_tr_forms(#{budget_product.id}, 'days_to_delivery'); " %>'>
									<i class="fa fa-pencil"></i>
								</a>
							</td>

							<td class="td_days_to_delivery" style="padding: 0 5px 0 5px; margin:0; ">
		            <%= simple_form_for budget_product,
		            										url: update_product_attributes_budgets_path,
							            					method: :get,
							            					remote: true,
							            					html: {class: 'hide_this_form',
							            					style: 'margin: 0;
							            									padding: 0;
							            									border: 0px solid red; ',
																		id: "form_days_to_delivery_#{budget_product.id}"} do |f| %>

		              <%= f.hidden_field :id %>

		              <%= f.input_field :days_to_delivery,
		                          			as: :string,
		                       					onblur: '$(this).closest("form").submit(); ',
		                          			style: 'float: left;
		                          							width: 20px;
		                          							margin:0;
		                          							padding:2px;  ' %>          
		            <% end %>


								<% if budget_product.days_to_delivery %>
									<span>
										<%= "#{budget_product.days_to_delivery} d" %>
									</span>
								<% else %>
									<span style="color: red; ">
										<%= t :"activerecord.attributes.product.please_fill" %>
									</span>
								<% end %>

								<i class="fa" style="font-size: 14px; "></i>
							</td>




							<td class="td_pencil_width">
								<% if (product.product_type == 1 || product.product_type == 3 || product.product_type == 6) %>

								<% else %>
									<a href="#" class="hide_if_product_type5" onclick='<%= "enable_this_tr_forms(#{budget_product.id}, 'width'); " %>'>
										<i class="fa fa-pencil"></i>
									</a>
								<% end %>
							</td>




							<td class="td_width">
								<% if (product.product_type == 1 || product.product_type == 3 || product.product_type == 6) %>
									
									<%= "#{product.width} m" %>
								
								<% else %>

			            <%= simple_form_for budget_product,
			            										url: update_product_attributes_budgets_path,
								            					method: :get,
								            					remote: true,
								            					html: {class: 'hide_this_form',
								            					style: 'margin: 0;
								            									padding: 0;
								            									border: 0px solid red; ',
																			id: "form_width_#{budget_product.id}"} do |f| %>

			              <%= f.hidden_field :id %>

			              <%= f.input_field :width,
			                          			as: :string,
			                          			class: 'product_width_input',
			                       					onblur: '$(this).closest("form").submit(); ',
			                          			style: 'float: left;
			                          							width: 50px;
			                          							margin:0;
			                          							padding:2px;  ' %>          
			            <% end %>


									<% if budget_product.width %>
										<span>
											<%= "#{budget_product.width} m" %>
										</span>
									<% else %>
										<span class="hide_if_product_type5" style="color: red; ">
											<%= t :"activerecord.attributes.product.please_fill" %>
										</span>
									<% end %>

								<% end %>

								<i class="fa" style="font-size: 14px; "></i>

							</td>



							<td class="td_pencil_height">
								<% if (product.product_type == 1 || product.product_type == 3 || product.product_type == 6) %>

								<% else %>
									<a href="#" class="hide_if_product_type5" onclick='<%= "enable_this_tr_forms(#{budget_product.id}, 'height'); " %>'>
										<i class="fa fa-pencil"></i>
									</a>
								<% end %>
							</td>



							<td class="td_height">
								<% if (product.product_type == 1 || product.product_type == 3 || product.product_type == 6) %>
									n/a							
								<% else %>

			            <%= simple_form_for budget_product,
			            										url: update_product_attributes_budgets_path,
								            					method: :get,
								            					remote: true,
								            					html: {class: 'hide_this_form',
								            					style: 'margin: 0;
								            									padding: 0;
								            									border: 0px solid red; ',
																			id: "form_height_#{budget_product.id}"} do |f| %>

			              <%= f.hidden_field :id %>

			              <%= f.input_field :height,
			                          			as: :string,
			                          			class: 'product_height_input',
			                       					onblur: '$(this).closest("form").submit(); ',
			                          			style: 'float: left;
			                          							width: 50px;
			                          							margin:0;
			                          							padding:2px; ' %>          
			            <% end %>


									<% if budget_product.height %>
										<span>
											<%= "#{budget_product.height} m" %>
										</span>
									<% else %>
										<span class="hide_if_product_type5" style="color: red; ">
											<%= t :"activerecord.attributes.product.please_fill" %>
										</span>
									<% end %>

								<% end %>

								<i class="fa" style="font-size: 14px; "></i>
							</td>


							<td class="td_pencil_quantity">
								<% if product.product_type == 2 || product.product_type == 6 %>
								
								<% else %>
									<a href="#" class="hide_if_product_type5" onclick='<%= "enable_this_tr_forms(#{budget_product.id}, 'quantity'); " %>'>
										<i class="fa fa-pencil"></i>
									</a>
								<% end %>
							</td>


							<td class="td_quantity" style="padding: 0 5px 0 5px; margin:0; ">
		            <%= simple_form_for budget_product,
		            										url: update_product_attributes_budgets_path,
							            					method: :get,
							            					remote: true,
							            					html: {class: 'hide_this_form',
							            					style: 'margin: 0;
							            									padding: 0;
							            									border: 0px solid red; ',
																		id: "form_quantity_#{budget_product.id}"} do |f| %>

		              <%= f.hidden_field :id %>

		              <%= f.input_field :quantity,
		                          			as: :string,
		                       					onblur: '$(this).closest("form").submit(); ',
		                          			style: 'float: left;
		                          							width: 30px;
		                          							margin:0;
		                          							padding:2px; ' %>          
		            <% end %>


								<% if budget_product.quantity %>
									<span>
										<% if (budget_product.quantity - budget_product.quantity.to_i) == 0 %>
											<%= budget_product.quantity.to_i %>
										<% else %>
											<%= budget_product.quantity %>
										<% end %>
									</span>
								<% else %>
									<span style="color: red; ">
										<%= t :"activerecord.attributes.product.please_fill" %>
									</span>
								<% end %>
							</td>



							<td class="td_pencil_price">
								<% if product.product_type == 6 %>
									<a href="#" class="hide_if_product_type5" onclick='<%= "enable_this_tr_forms(#{budget_product.id}, 'price'); " %>'>
										<i class="fa fa-pencil"></i>
									</a>								
								<% else %>

								<% end %>
							</td>




							<td class="td_price">
								<% if product.product_type == 6 %>

									<% if budget_product.computed_price %>
										<% computed_price_input_value = number_to_currency(budget_product.computed_price).gsub(/[^0-9,.]/, '') %>
									<% else %>
										<% computed_price_input_value = nil %>
									<% end %>


									<%= simple_form_for budget_product,
			            										url: update_product_attributes_budgets_path,
								            					method: :get,
								            					remote: true,
								            					html: {class: 'hide_this_form',
								            					style: 'margin: 0;
								            									padding: 0;
								            									border: 0px solid red; ',
																			id: "form_price_#{budget_product.id}"} do |f| %>

			              <%= f.hidden_field :id %>

			              <%= f.input_field :computed_price,
			                          			as: :string,
			                          			value: computed_price_input_value,
			                       					onblur: '$(this).closest("form").submit(); ',
			                          			style: 'float: left;
			                          							width: 60px;
			                          							margin: 0;
			                          							padding: 2px; ' %>          
			            <% end %>


									<span>
										<% if budget_product.computed_price %>
											<%= number_to_currency(budget_product.computed_price) %>
										<% else %>
											<span style="color: red; ">
												<%= t :"activerecord.attributes.product.please_fill" %>
											</span>
										<% end %>
									</span>

			        	<% else %>
									<span>
										<% if budget_product.computed_price %>
											<%= number_to_currency(budget_product.computed_price) %>
										<% else %>
											<span style="color: red; ">
												<%= t :"activerecord.attributes.product.please_fill" %>
											</span>
										<% end %>
									</span>
		            <% end %>				

								<i class="fa" style="font-size: 18px; "></i>
							</td>



							<td class="td_pencil_up">
								<a href="#" class="hide_if_product_type5" onclick='<%= "enable_this_tr_forms(#{budget_product.id}, 'up'); " %>'>
									<i class="fa fa-pencil"></i>
								</a>
							</td>


							<td class="td_up">
								<%= simple_form_for budget_product,
		            										url: update_product_attributes_budgets_path,
							            					method: :get,
							            					remote: true,
							            					html: {class: 'hide_this_form',
							            					style: 'margin: 0;
							            									padding: 0;
							            									border: 0px solid red; ',
																		id: "form_up_#{budget_product.id}"} do |f| %>

		              <%= f.hidden_field :id %>

		              <%= f.input_field :up,
		                          			as: :string,
		                       					onblur: '$(this).closest("form").submit(); ',
		                          			style: 'float: left;
		                          							width: 30px;
		                          							margin: 0;
		                          							padding: 2px; ' %>          
		            <% end %>

		            <span>
		            	<% if budget_product.up %>
										<% if (budget_product.up - budget_product.up.to_i) == 0 %>
											<%= "#{budget_product.up.to_i}%" %>
										<% else %>
											<%= "#{budget_product.up}%" %>
										<% end %>										
									<% else %>
										<%= "0%" %>
									<% end %>
								</span>
							</td>


							<td class="td_delete">
								<%= link_to content_tag(:i, '', class: "fa fa-trash-o", style: "font-size: 14px; "),
	                    			update_products_list_budgets_path(budget_id: @budget.id,
	                    																				product_id: product.id,
	                    																				budget_product_id: budget_product.id,
	                    																				delete: true),
	                    																				remote: true %>
	 						</td>
						</tr>


<script type="text/javascript">

  $("#budget_customer_attributes_postal_code").mask("99999-999");
  $("#budget_customer_attributes_landline").mask("(99) 9999-9999");
  $("#budget_customer_attributes_mobile").mask("(99) 9999-9999");

	$("#budgets_product_computed_price").mask("0.000.000,00", {reverse: true});

  $("#product_supplier_price").mask("0.000,00", {reverse: true});
  $("#budget_discount").mask("0.000,00", {reverse: true});

	$(".product_freight_input").mask("0.000,00", {reverse: true});

  $("#supplier_cnpj").mask("999.999.999-99", {reverse: true});

  $("#supplier_postal_code").mask("99999-999");

  $("#supplier_landline").mask("(99) 9999-9999");
  $("#supplier_mobile").mask("(99) 9999-9999");

  //$(".product_height_input").mask("999999.99", {reverse: true});
  //$(".product_width_input").mask("999999.99", {reverse: true});

</script>

<% if product.product_type == 5 %>
	<script type="text/javascript">
		//$('.hide_if_product_type5').hide();
	</script>
<% end %>