
		<% if @budget.status == 1 %>
	    <%= simple_form_for @budget,
	    										url: {controller: 'budgets', action: 'validate_budget'},
	    										method: :get,
	    										remote: true,
	    										html: {class: 'form-inline',
	    													 style: 'margin: 0; padding: 0; ',
	    													 id: 'form_close_budget'} do |f| %>

	    	<%= f.hidden_field :id %>

	    	<%= f.hidden_field :status,
	    										 value: (@budget.status + 1) %>


				<button style="float: right; " id="button_close_budget" class="btn btn-small btn-primary" name="commit" type="submit" onclick="">
	      	<b>
	    			<%= t :"close_budget" %>
	      	</b>
	        <i id="icon-loading-confirm-customer" class=""></i>
	      </button>
	    <% end %>

	  <% elsif @budget.status == 2 %>
	    <%= simple_form_for Request.new,
	    										url: {controller: 'requests', action: 'create'},
	    										method: :post,
	    										remote: true,
	    										html: {class: 'form-inline',
	    											     style: 'margin: 0; padding: 0; ',
	    											     id: 'form_save_request'} do |f| %>

	    	<%= f.hidden_field :budget_id,
	    										 value: @budget.id %>


				<button style="float: right; " id="button_save_request" class="btn btn-small btn-primary" name="commit" type="submit" onclick="">
	      	<b>
	    			<%= t :"save_request" %>      		
	      	</b>
	        <i id="icon-loading-confirm-customer" class=""></i>
	      </button>
	    <% end %>


			<button style="float: right; margin-right: 10px; display: none; " id="button_see_request" class="btn btn-small btn-success" name="commit" type="submit" onclick="">
	     	<%= link_to 'ver pedido',
	     							'',
	     							style: 'color: #fff; ',
	     							target: '_blank' %>
	  	</button>


			<!--<button style="float: right; margin-right: 10px; " id="button_see_pdf" class="btn btn-small btn-success" name="commit" type="submit" onclick="">
	     	<%= link_to 'ver orçamento',
	     							budget_path(@budget.id, format: 'pdf'),
	     							style: 'color: #fff; ',
	     							target: '_blank' %>
	  	</button>-->


			<button style="float: right; margin-right: 10px; " id="popover_see_pdf" class="btn btn-small btn-success" name="commit" type="submit" onclick="">
	     	ver orçamento
	  	</button>





			<div id="div_popover_see_pdf" class="hide">
			   
				<%= form_tag "/budgets/#{@budget.id}.pdf", style: 'border: 0px solid red; padding: 0; margin: 0; ', method: :get, target: "_blank" do %>

					<%#= hidden_field_tag "budget_product", "#{budget_product.id}" %>

				  <%= check_box_tag "code", "", style: 'width: 50px; ' %>
				  <span style="padding-left: 10px; font-weight: normal; ">código</span>
				  <br />

				  <%= check_box_tag "supplier", "", style: 'width: 50px; ' %>
				  <span style="padding-left: 10px; font-weight: normal; ">fornecedor</span>
				  <br />

				  <%= check_box_tag "description", "", style: 'width: 50px; ' %>
				  <span style="padding-left: 10px; font-weight: normal; ">descrição</span>
				  <br />

				  <%= check_box_tag "observations", "", style: 'width: 80px; ' %>
				  <span style="padding-left: 10px; font-weight: normal; ">obser.</span>
				  <br />

					<%= check_box_tag "freight", "", style: 'width: 50px; ' %>
				  <span style="padding-left: 10px; font-weight: normal; ">frete</span>
					<br />

					<%= check_box_tag "width", "", style: 'width: 50px; ' %>
				  <span style="padding-left: 10px; font-weight: normal; ">largura</span>
					<br />

					<%= check_box_tag "height", "", style: 'width: 50px; ' %>
				  <span style="padding-left: 10px; font-weight: normal; ">altura</span>
				  <br />

					<%= check_box_tag "quantity", "", style: 'width: 50px; ' %>
				  <span style="padding-left: 10px; font-weight: normal; ">quantidade</span>
				  <br />

				  <br />
				  
				  <%= submit_tag "ver", class: "btn btn-small btn-success" %>

				<% end %>

				<button style="position: absolute; margin-top: -26px; margin-left: 55px;  " onclick="$('#popover_see_pdf').popover('hide'); " class="btn btn-small btn-danger" data-dismiss="clickover">fechar</button>
			   
			</div>

	  <% end %>








<script type="text/javascript">
	
	// Associa o evento do popover ao clicar no link.
  $('#popover_see_pdf').popover({
  	trigger: 'manual',
    html: true,
    title: 'escolha colunas',
    content: $('#div_popover_see_pdf').html() // Adiciona o conteúdo da div oculta para dentro do popover.
		}).click(function (e) {
    	e.preventDefault();
      // Exibe o popover.
      $(this).popover('show');
    	});

    $('#btn-fechar').live('click', function (e) {
    	// Oculta o popover ao clicar no botão fechar.
      $('#a-popover').popover('hide');
    	});

    $('#btn-modal').live('click', function (e) {
    	// Oculta o popover ao clicar no botão abrir modal.
      $('#a-popover').popover('hide');
      // Abre o modal.
      $('#div-modal').modal();
    	});
		
</script>















