
  <div id="budget_client_div" class="well no_borders_shadow">

    <%= simple_form_for @budget, html: {class: 'form-inline', style: 'margin: 0; padding: 0; '} do |f| %>


      <%= f.simple_fields_for :customer, @customer do |c| %>

        <%#= f.error_notification class: "alert alert-error" %>

          <table>
            <tr>
              <td width="68px" class="">
                <%= c.input :tax_number_type,
                            as: :select,
                            collection: ({(t :"activerecord.attributes.customer.tax_number_type1") => 1,
                                          (t :"activerecord.attributes.customer.tax_number_type2") => 2}),
                            include_blank: false,
                            label: false,
                            input_html: {style: 'width: 60px; '},
                            wrapper_html: {style: ''},
                            style: 'width: 70px; ' %>
              </td>

              <td width="">
                <%= c.input :tax_number,
                            label: false,
                            input_html: {style: 'width: 130px; ',
                                         onblur: 'search_tax_number_and_populate(this.value); '},
                            error_html: {style: 'display: inline; '} %>
                  
                  <i style="position:absolute; margin-left: 150px; margin-top: -22px; " id="icon-loading-customer-search" class="info_text"></i>
              </td>
            </tr>
          </table>



          <table>
            <tr>
              <td width="350px">
                <%= c.input :name,
                            label_html: {style: 'width: 60px; '},
                            input_html: {style: 'width: 260px; '},
                            error_html: {style: 'display: inline; '} %>
              </td>
            </tr>
          </table>

          <table>
            <tr>
              <td width="350px">
                <%= c.input :street,
                            input_html: {style: 'width: 260px; '},
                            label_html: {style: 'width: 60px; '} %>           
              </td>

              <td width="80px">
                <%= c.input :street_number,
                            as: :string,
                            label_html: {style: 'width: 22px; '},
                            input_html: {style: 'width: 30px; '} %>           
              </td>

              <td width="128px">
                <%= c.input :postal_code,
                            input_html: {style: 'width: 70px; '} %>           
              </td>

              <td width="">
                <%= c.input :neighbourhood,
                            label_html: {style: 'width: 45px; '},
                            input_html: {style: 'width: 130px; '} %>            
              </td>

              <td width="">
                <%= c.input :city,
                            input_html: {style: 'width: 120px; '},
                            wrapper_html: {style: 'text-align: right; '} %>           
              </td>     
            </tr>       
          </table>

          <table>
            <tr>
              <td width="350px">
                <%= c.input :email,
                            label_html: {style: 'width: 60px; '},
                            input_html: {style: 'width: 260px; '} %>
              </td>


              <td width="212px">
                <%= c.input :mobile,
                            input_html: {style: 'width: 135px; '} %>
              </td>



              <td width="">
                <%= c.input :landline,
                            label_html: {style: 'width: 42px; '},
                            input_html: {style: 'width: 130px; '} %>
              </td>
            </tr>
          </table>

        <% end %>


        <hr style="margin: 10px; padding: 0; " />


        <table style="">
          <tr>
            <td width="115px">
              <%= f.input :markup,
                          as: :string,
                          input_html: {style: 'width: 30px; '} %>
            </td>


            <%#= f.simple_fields_for :user, @arquitect do |a| %>
              <!--<td>
                <%#= a.input :id,
                            as: :select,
                            label: 'profissional' %>
              </td>-->
            <%# end %>
            <td width="240px">
              <%= f.input :arquitect_id,
                          as: :select,
                          collection: User.find_all_by_role(2),
                          label: 'profissional',
                          prompt: 'selecione',
                          input_html: {style: 'width: 135px; '} %>
            </td>

            <td>
              <button style="float: right; " class="btn btn-small btn-primary" name="commit" type="submit" onclick="">
                <b>confirmar</b>
                <i id="icon-loading-confirm-customer" class=""></i>
              </button>
            </td> 
          </tr>
        </table>

        <div class="clearfix"></div>

      <% end %>
    </div>