
<div id='<%= "div_popover#{budget_product.id}" %>' class="hide">
   

	<% if budget_product.curtain %>
		<% @curtain = budget_product.curtain %>
		<% curtain_id = @curtain.id %>
	<% else %>
		<% @curtain = Curtain.new %>
		<% curtain_id = nil %>
	<% end %>


	<%= simple_form_for @curtain, remote: true, method: :post, url: {controller: 'budgets', action: 'compute_product_type3'}, html: {class: 'form-inline', style: 'margin: 0; padding: 0; '} do |f| %>


		<%= f.hidden_field :id,
											 value: curtain_id %>

		<%= f.hidden_field :budgets_product_id,
											 value: budget_product.id %>

	  <%= f.input :window_width,
	  						as: :string,
	  						wrapper: 'bootstrap',
	  						label: 'larg janela (m)',
	  						input_html: {style: 'margin-right: 5px; width: 50px; '} %>

	  <%= f.input :window_height,
	  						as: :string,
	  						wrapper: 'bootstrap',
	  						label: 'alt janela (m)',
	  						input_html: {style: 'margin-right: 5px; width: 50px; '} %>

	  <%= f.input :window_number_parts,
	  						as: :string,
	  						wrapper: 'bootstrap',
	  						label: 'nº folhas',
	  						input_html: {style: 'margin-right: 5px; width: 50px; '} %>

	  <%= f.input :wave_factor,
	  						as: :string,
	  						wrapper: 'bootstrap',
	  						label: 'fator ondulação',
	  						input_html: {style: 'margin-right: 5px; width: 50px; '} %>

	  <%= f.input :fabric_width,
	  						as: :string,
	  						wrapper: 'bootstrap',
	  						label: 'larg tecido (m)',
	  						input_html: {style: 'margin-right: 5px; width: 50px; '} %>

	  
	  <%= submit_tag "calcular", class: "btn btn-small btn-success" %>

	<% end %>

	<button style="position: absolute; margin-top: -25px; margin-left: 120px; " onclick="<%= "close_please(#{budget_product.id}); " %>" id='<%= "btn_fechar#{budget_product.id}" %>' class="btn btn-small btn-danger" data-dismiss="clickover">fechar</button>
   
</div>