
<div id='<%= "div_popover#{budget_product.id}" %>' class="hide">
   

	<% if budget_product.curtain %>
		<% @curtain = budget_product.curtain %>
	<% else %>
		<% @curtain = Curtain.new %>
	<% end %>


	<%= simple_form_for @curtain, url: {controller: 'budgets', action: 'compute_product_type3'}, html: {class: 'form-inline', style: 'margin: 0; padding: 0; '} do |f| %>



	<%#= form_tag "/budgets/compute_product_type3", style: 'border: 0px solid red; padding: 0; margin: 0; ', remote: true do %>

		<%= hidden_field_tag "budget_product", "#{budget_product.id}" %>

	  <%= text_field_tag "window_width", "", style: 'width: 50px; ' %>
	  <span style="padding-left: 10px; font-weight: normal; ">larg janela (m)</span>
	  <br />

	  <%= text_field_tag "window_height", "", style: 'width: 50px; ' %>
	  <span style="padding-left: 10px; font-weight: normal; ">alt janela (m)</span>
	  <br />

		<%= text_field_tag "window_number_parts", "", style: 'width: 50px; ' %>
	  <span style="padding-left: 10px; font-weight: normal; ">nº folhas</span>
		<br />

		<%= text_field_tag "wave_factor", "", style: 'width: 50px; ' %>
	  <span style="padding-left: 10px; font-weight: normal; ">fator ondulação</span>
		<br />

		<%= text_field_tag "fabric_width", "", style: 'width: 50px; ' %>
	  <span style="padding-left: 10px; font-weight: normal; ">larg tecido (m)</span>
	  <br />
	  <br />
	  
	  <%= submit_tag "calcular", class: "btn btn-small btn-success" %>

	<% end %>

	<button style="position: absolute; margin-top: -25px; margin-left: 130px; " onclick="<%= "close_please(#{budget_product.id}); " %>" id='<%= "btn_fechar#{budget_product.id}" %>' class="btn btn-small btn-danger" data-dismiss="clickover">fechar</button>
   
</div>