		<% budget_product = BudgetsProduct.new %>

		<% budget_product.quantity = 1 %>
		<% budget_product.freight = 1 %>
		<% budget_product.width = 1 %>
		<% budget_product.height = 1 %>
		<% budget_product.computed_price = 0 %>


		<%= render partial: 'compute_price',
							 locals: {product: product,
						 	   			  budget_product: budget_product} %>


		<tr>
			<td>
				<%= product.code %>
			</td>

			<td>
				<%= t :"activerecord.attributes.product.product_type#{product.product_type}" %>
			</td>

			<td>
				<%= product.supplier.name %>
			</td>

			<td>
				<%= product.description %>
			</td>

			<td>
				<% if product.product_type == 7 %>
					<%= 'digite' %>
				<% else %>
					<%= number_to_currency(@price) %>
				<% end %>
				<%#= number_to_currency(product.supplier_price) %>
			</td>

			<td>
				<%#= product.ipi %>
				<%= link_to content_tag(:i, '', class: "fa fa-plus success_text"),
                    update_products_list_budgets_path(budget_id: @budget.id, product_id: product.id),
                    remote: true %>
			</td>
		</tr>
