<%
if (product.product_type == 0 || product.product_type == 1 || product.product_type == 3 || product.product_type == 6)
						
	computed_price = compute_price_product_type_1(product.supplier_price,
																								product.ipi,
																								product.markup,
																								product.supplier_table_discount,
																								1,
																								0)

elsif product.product_type == 2
						
	computed_price = compute_price_product_type_2(product.supplier_price,
																								product.ipi,
																								product.markup,
																								1,
																								0,
																								1,
																								1)

elsif product.product_type == 3

end
%>

		<tr>
			<td>
				<%= product.code %>
			</td>

			<td>
				<%= t :"activerecord.attributes.product.product_type#{product.product_type}" %>
			</td>

			<td>
				<%= product.supplier.name %>
			</td>

			<td>
				<%= product.description %>
			</td>

			<td>
				<% if product.product_type == 7 %>
					<%= 'digite' %>
				<% else %>
					<%= number_to_currency(computed_price) %>
				<% end %>
				<%#= number_to_currency(product.supplier_price) %>
			</td>

			<td>
				<%#= product.ipi %>
				<%= link_to content_tag(:i, '', class: "fa fa-plus success_text"),
                    update_products_list_budgets_path(budget_id: @budget.id, product_id: product.id),
                    remote: true %>
			</td>
		</tr>
