<% @products_search_list.each do |product| %>

	<table>
		<tr>
			<th>
				código
			</th>

			<th>
				fornecedor
			</th>

			<th>
				descrição
			</th>

			<th>
				preço fornecedor
			</th>

			<th>
				ipi
			</th>
		</tr>


		<tr>
			<td>
				<%= product.code %>
			</td>

			<td>
				<%= product.supplier.name %>
			</td>


			<td>
				<%= product.description %>
			</td>


			<td>
				<%= product.supplier_price %>
			</td>


			<td>
				<%#= product.ipi %>
				<%= link_to content_tag(:i, '', class: "icon-arrow-right"),
                    update_products_list_budgets_path(budget_id: budget.id, product_id: product.id),
                    remote: true %>
			</td>


			<td>
			</td>

			<td>
			</td>
		</tr>
	</table>

<% end %>