
		<% price_computed = compute_price(product.supplier_price,
																			product.ipi,
																			product.markup,
																			1) %>

		<tr>
			<td>
				<%= product.code %>
			</td>

			<td>
				<%= product.supplier.name %>
			</td>

			<td>
				<%= product.description %>
			</td>

			<td>
				<%= number_to_currency(price_computed) %>
			</td>

			<td>
				<%#= product.ipi %>
				<%= link_to content_tag(:i, '', class: "icon-plus"),
                    update_products_list_budgets_path(budget_id: @budget.id, product_id: product.id),
                    remote: true %>
			</td>
		</tr>
