<center>

	<!--<h1>Editing budget</h1>-->

	<div style="width: 1090px; margin: 20px 0 10px 0; padding: 0; border: 0px solid red; ">
		<div style="float: left; padding:0; margin:0; " class="well no_borders_shadow">
			<table class="" style="float: left; ">
				<tr>
					<th width="" style="padding: 5px 5px 5px 15px; ">
						orçamento nº
					</th>

					<td style="padding: 5px 15px 5px 5px; ">
						<%= @budget.id %>
					</td>
				</tr>
			</table>
		</div>

		<div style="float: right; padding:0; margin:0; " class="well no_borders_shadow">
			<table class="" style="float: left; ">
				<tr>
					<th width="" style="padding: 5px 5px 5px 5px; ">
						data
					</th>

					<td style="padding: 5px 15px 5px 5px; ">
						<%= Time.now.strftime("%d") %>
						<%= I18n.t("date.abbr_month_names")[Time.now.strftime("%m").to_i] %>
						<%= Time.now.strftime("%Y") %>
					</td>
				</tr>
			</table>
		</div>

		<div class="clearfix"></div>

	</div>


	<%= render 'form' %>



	<%= link_to 'Show', @budget %> |
	<%= link_to 'Back', budgets_path %>
</center>