<center>
	<!--<h1>Editing budget</h1>-->

	<div class="main_content" style="border: 0px solid red; padding: 0; ">
		<div style="float: left; padding:0; margin:0; " class="well no_borders_shadow">
			<table class="" style="float: left; ">
				<tr>
					<th width="" style="padding: 5px; ">
						orçamento nº
					</th>

					<td style="padding: 5px; ">
						<%= @budget.id %>
						<%#= "st-#{@budget.status}" %>
					</td>
				</tr>
			</table>
		</div>

		<div style="float: right; padding:0; margin:0; " class="well no_borders_shadow">
			<table class="" style="float: left; ">
				<tr>
					<td style="padding: 5px 5px 5px 5px; ">
						<%= Time.now.strftime("%d") %>
						<%= I18n.t("date.abbr_month_names")[Time.now.strftime("%m").to_i] %>
						<%= Time.now.strftime("%Y") %>
					</td>
				</tr>
			</table>
		</div>

		<div class="clearfix"></div>


		<%= render 'form' %>

		<%= render 'budget_customer_view' %>


    <div style="padding: 0; margin: 0; margin-bottom: 5px; " id="div_budget_more_details_show" class="well no_borders_shadow">
      <table style="padding: 0; margin: 0; border: 0px solid red; width: 100%; ">
        <tr>
        	<td>
        		<span style="color: #3f7db2; padding-left: 5px; ">+ detalhes</span>
        	</td>

          <td style="text-align: right; ">
            <a href="#" onclick="enable_form_budget_more_details(); ">  
              <i style="cursor: pointer; padding-right: 5px; " class="fa fa-pencil"></i>
            </a>
          </td>
        </tr>
      </table>
    </div>



		<%= render 'budget_details' %>



		<div id="budgets_products_list" class="well no_borders_shadow">
			<table id="table_budgets_products_list">
				<tr>
					<th class="td_checkbox" style="padding-left: 0px; padding-right: 3px; ">
						p
						<!--<form style="margin: 0; padding: 0; ">
							<input type="checkbox" onclick="$('.budget_list_row_select_field').prop('checked',$('.budget_list_row_select_field').is(':checked') ? null:'checked'); ">
						</form>-->
					</th>


					<th class="td_code" style="padding-left: 0px; padding-right: 3px; ">
						<%= t :"activerecord.attributes.product.code" %>
					</th>


					<th class="td_product_type" style="padding-left: 0px; padding-right: 3px; ">
						<%= t :"activerecord.attributes.product.product_type" %>
					</th>


					<th class="td_supplier">
						<%= t :"activerecord.attributes.product.supplier_id" %>
					</th>


					<th class="td_description">
						<%= t :"activerecord.attributes.product.description" %>
					</th>


					<th class="td_pencil_product_observations">
						<!--<i class="fa fa-pencil fa-white"></i>-->
					</th>


					<th class="td_product_observations">
						<%= t :"activerecord.attributes.product.product_observations" %>
					</th>


					<th class="td_pencil_house_area">
						<!--<i class="fa fa-pencil fa-white"></i>-->
					</th>


					<th class="td_house_area">
						<%= t :"activerecord.attributes.product.house_area" %>
					</th>


					<th class="td_pencil_freight">
						<!--<i class="fa fa-pencil fa-white"></i>-->
					</th>


					<th class="td_freight">
						<%= t :"activerecord.attributes.product.freight" %>
					</th>


					<th class="td_pencil_days_to_delivery">
						<!--<i class="fa fa-pencil fa-white"></i>-->
					</th>


					<th class="td_days_to_delivery">
						<%= t :"activerecord.attributes.product.days_to_delivery" %>
					</th>


					<th class="td_pencil_width">
						<!--<i class="fa fa-pencil fa-white"></i>-->
					</th>


					<th class="td_width">
						<%= t :"activerecord.attributes.product.width" %>
					</th>


					<th class="td_pencil_height">
						<!--<i class="fa fa-pencil fa-white"></i>-->
					</th>


					<th class="td_height">
						<%= t :"activerecord.attributes.product.height" %>
					</th>


					<th class="td_pencil_quantity">
						<!--<i class="fa fa-pencil fa-white"></i>-->
					</th>


					<th class="td_quantity">
						<%= t :"activerecord.attributes.product.quantity" %>
					</th>


					<th class="td_pencil_price">
						<!--<i class="fa fa-pencil fa-white"></i>-->
					</th>


					<th class="td_price">
						<%= t :"activerecord.attributes.product.price" %>
					</th>


					<th class="td_pencil_up">
						<!--<i class="fa fa-pencil fa-white"></i>-->
					</th>


					<th class="td_up">
						<%= t :"activerecord.attributes.product.up" %>
					</th>


					<th class="td_delete">
						<%= content_tag(:i, '', class: "fa fa-trash-o fa-white") %>
					</th>
				</tr>


				<tr id="flash_messages">
					<%= render partial: 'flash_messages' %>
				</tr>
			</table>


			<div id="products_list" style="border: 0px solid red; ">	
				<table id="table_products_list"  style="border: 0px solid green; ">
					<% @budgets_products.each do |budget_product| %>
						<%= render partial: 'budget_list_row',
											 locals: {budget_product: budget_product,
											 				  budget: @budget} %>
					<% end %>
				</table>
			</div>

			<div id="div_table_results" style="border: 0px solid green; ">
				<%= render partial: 'table_results' %>
			</div>
		</div>

		

		<div class="clearfix"></div>


		<div id="div_buttons" style="margin-top: 10px; border: 0px solid red; ">
			<%= render partial: 'buttons' %>
		</div>


		<div id="products_search_results_div" class=" no_borders_shadow" style="border: 0px solid red; ">
			<div id="products_search_div" style="border: 0px solid red; ">
				<div id="products_search_form" class="no_borders_shadow" style="border: 0px solid green; ">
					
					<div class="clearfix"></div>

				</div>
			
				<div id="products" style="border: 0px solid black; margin-top: 5px; ">
					<table>
						<tr style="display: none; ">
							<th>
								<%= t :"activerecord.attributes.product.code" %>
							</th>

							<th>
								<%= t :"activerecord.attributes.product.product_type" %>
							</th>

							<th>
								<%= t :"activerecord.attributes.product.supplier_id" %>
							</th>

							<th>
								<%= t :"activerecord.attributes.product.description" %>
							</th>

							<th>
								<%= t :"activerecord.attributes.product.price_per_unit_or_squara_meter" %>
							</th>

							<th>
								<%= content_tag(:i, '', class: "fa fa-plus") %>
							</th>
						</tr>


						<tr id="products_tr_no_results" style="display: none; margin: 0; padding: 0; border: 0; " class="alert alert-error">
							<td colspan="5" >a pesquisa não retornou resultados</td>
						</tr

					</table>
					<%# @products_search_list.each do |product| %>
						<%#= render 'products' %>
					<%# end %>
				</div>

			</div>

		</div></div>
		<div class="clearfix"></div>

		
		




	</div>



	<%#= link_to 'Show', @budget %> 
	<%#= link_to 'Back', budgets_path %>
</center>


<% if @budget.status == 1 %>

	<script type="text/javascript">
		disable_checkboxs();
	</script>

<% end %>


<% if @budget.customer.errors.count > 0 %>

	<script type="text/javascript">
		$('#budget_client_div_show').hide();
	</script>

<% else %>

	<script type="text/javascript">
		$('#budget_client_div').hide();
	</script>

<% end %>


<script type="text/javascript">
	$('.hide_this_form').hide();
	make_td_same_width_for_budget_tables();
</script>


<script type="text/javascript">
	vertical_menu_height_fix();
</script>


<script type="text/javascript">
	create_popovers();
</script>