<center>

	
	<!--<h1>Editing budget</h1>-->

	<div class="main_content" style="border: 0px solid red; padding: 5px; ">
		<div style="float: left; padding:0; margin:0; " class="well no_borders_shadow">
			<table class="" style="float: left; ">
				<tr>
					<th width="" style="padding: 5px; ">
						orçamento nº
					</th>

					<td style="">
						<%= @budget.id %>
					</td>
				</tr>
			</table>
		</div>

		<div style="float: right; padding:0; margin:0; " class="well no_borders_shadow">
			<table class="" style="float: left; ">
				<tr>
					<th width="" style="padding: 5px 5px 5px 5px; ">
						data
					</th>

					<td style="padding: 5px 15px 5px 5px; ">
						<%= Time.now.strftime("%d") %>
						<%= I18n.t("date.abbr_month_names")[Time.now.strftime("%m").to_i] %>
						<%= Time.now.strftime("%Y") %>
					</td>
				</tr>
			</table>
		</div>

		<div class="clearfix"></div>



		<%= render 'form' %>

		<%= render 'budget_customer_view' %>





		<div id="budgets_products_list" class="well no_borders_shadow">
			<table>
				<tr>
					<th class="td_code">
						código
					</th>

					<th class="td_supplier">
						fornecedor
					</th>

					<th class="td_description">
						descrição
					</th>

					<th class="td_width">
						medida
					</th>

					<th class="td_supplier_price">
						preço custo
					</th>

					<th class="td_pencil">
						<i class="icon icon-pencil icon-white"></i>
					</th>

					<th class="td_quantity">
						qt
					</th>

					<th class="td_markup">
						markup
					</th>

					<th class="td_ipi">
						ipi
					</th>					

					<th class="td_price">
						preço
					</th>


					<th class="td_delete">
						<%= content_tag(:i, '', class: "icon-trash icon-white") %>
					</th>
				</tr>


				<tr id="flash_messages">
					<td colspan="11" style="display: none; border: 0; padding-top: 10px; ">
						<div class="alert" style="text-align:center; padding: 2px; margin: 0; ">
							
						</div>
					</td>
				</tr>
			</table>


			<div id="products_list" style="border: 0px solid red; ">	
				<table id="table_products_list"  style="border: 0px solid green; ">
					<% @products.each do |product| %>
						<%= render partial: 'budget_list_row',
											 locals: {product: product,
											 				  budget: @budget} %>
					<% end %>
				</table>
			</div>

			<div id="div_table_results">
				<%= render partial: 'table_results' %>
			</div>
		</div>

		

		<div class="clearfix"></div>

		<div id="products_search_results_div" class=" no_borders_shadow" style="margin-top: 10px; border: 0px solid red; ">
			<div id="products_search_div" style="border: 0px solid red; ">
				<div id="products_search_form" class="no_borders_shadow" style="border: 0px solid green; ">
					<%= simple_form_for @product,
															url: {controller: 'budgets', action: 'products_search'},
															method: :get,
															remote: true,
															html: {class: 'pull-right',
																		 style: '',
																		 id: "ticket-solution-form-#{@product.id}"} do |f| %>


						<%= f.hidden_field :budget_id,
															 value: @budget.id %>


						<%= f.input :search_phrase,
												label: false,
												wrapper: :append,
												class: "inline" do %>
					    
					    <%= f.input_field :search_phrase,
					    									as: :string,
																placeholder: 'código/descrição do produto',
		      											style: 'width: 260px; ' %>

							<%= f.submit 'procurar',
		        						 	 class: 'btn btn-primary btn-small',
		        						   style: 'font-weight: bold; padding: 4px 10px 4px 10px' %>

			      <% end %>

					<% end %>

					<div class="clearfix"></div>

				</div>
			
				<div id="products">
					<table>
						<tr style="display: none; ">
							<th>
								código
							</th>

							<th>
								fornecedor
							</th>

							<th>
								descrição
							</th>

							<th>
								preço custo
							</th>

							<th>
								ipi
							</th>

							<th>
								<%= content_tag(:i, '', class: "icon-plus") %>
							</th>
						</tr>
					</table>


					<% @products_search_list.each do |product| %>
						<%= render 'products' %>
					<% end %>
				</div>

			</div>

		<div class="clearfix"></div>
	</div>



	<%#= link_to 'Show', @budget %> 
	<%#= link_to 'Back', budgets_path %>
</center>

<% if @budget.customer.errors.count > 0 %>

	<script type="text/javascript">
		$('#budget_client_div_show').hide();
	</script>

<% else %>

	<script type="text/javascript">
		$('#budget_client_div').hide();
	</script>

<% end %>


<script type="text/javascript">

	$('.hide_this_form').hide();
	make_td_same_width_for_budget_tables();

</script>