<center>
	<!--<h1>Editing budget</h1>-->

	<div class="main_content" style="border: 0px solid red; padding: 5px; ">
		<div style="float: left; padding:0; margin:0; " class="well no_borders_shadow">
			<table class="" style="float: left; ">
				<tr>
					<th width="" style="padding: 5px; ">
						orçamento nº
					</th>

					<td style="padding: 5px; ">
						<%= @budget.id %>
					</td>
				</tr>
			</table>
		</div>

		<div style="float: right; padding:0; margin:0; " class="well no_borders_shadow">
			<table class="" style="float: left; ">
				<tr>
					<td style="padding: 5px 5px 5px 5px; ">
						<%= Time.now.strftime("%d") %>
						<%= I18n.t("date.abbr_month_names")[Time.now.strftime("%m").to_i] %>
						<%= Time.now.strftime("%Y") %>
					</td>
				</tr>
			</table>
		</div>

		<div class="clearfix"></div>



		<%= render 'form' %>

		<%= render 'budget_customer_view' %>


    <div style="padding: 0; margin: 0; margin-bottom: 5px; " id="div_budget_more_details_show" class="well no_borders_shadow">
      <table style="padding: 0; margin: 0; border: 0px solid red; width: 100%; ">
        <tr>
        	<td>
        		<span style="color: #3f7db2; padding-left: 5px; ">+ detalhes</span>
        	</td>

          <td style="text-align: right; ">
            <a href="#" onclick="enable_form_budget_more_details(); ">  
              <i style="cursor: pointer; padding-right: 5px; " class="icon icon-pencil"></i>
            </a>
          </td>
        </tr>
      </table>
    </div>



		<%= render 'budget_details' %>



		<div id="budgets_products_list" class="well no_borders_shadow">
			<table id="table_budgets_products_list">
				<tr>
					<th class="td_code">
						<%= t :"activerecord.attributes.product.code" %>
					</th>

					<th class="td_product_type">
						<%= t :"activerecord.attributes.product.product_type" %>
					</th>

					<th class="td_supplier">
						<%= t :"activerecord.attributes.product.supplier_id" %>
					</th>

					<th class="td_description">
						<%= t :"activerecord.attributes.product.description" %>
					</th>

					<th class="td_pencil_house_area">
						<i class="icon icon-pencil icon-white"></i>
					</th>

					<th class="td_house_area">
						<%= t :"activerecord.attributes.product.house_area" %>
					</th>



					<th class="td_pencil_freight">
						<i class="icon icon-pencil icon-white"></i>
					</th>


					<th class="td_freight">
						<%= t :"activerecord.attributes.product.freight" %>
					</th>


					<th class="td_pencil_days_to_delivery">
						<i class="icon icon-pencil icon-white"></i>
					</th>


					<th class="td_days_to_delivery">
						<%= t :"activerecord.attributes.product.days_to_delivery" %>
					</th>


					<th class="td_pencil_width">
						<i class="icon icon-pencil icon-white"></i>
					</th>


					<th class="td_width">
						<%= t :"activerecord.attributes.product.width" %>
					</th>


					<th class="td_pencil_height">
						<i class="icon icon-pencil icon-white"></i>
					</th>


					<th class="td_height">
						<%= t :"activerecord.attributes.product.height" %>
					</th>

					<th class="td_pencil_quantity">
						<i class="icon icon-pencil icon-white"></i>
					</th>

					<th class="td_quantity">
						<%= t :"activerecord.attributes.product.quantity" %>
					</th>

					<th class="td_price">
						<%= t :"activerecord.attributes.product.price" %>
					</th>

					<th class="td_delete">
						<%= content_tag(:i, '', class: "icon-trash icon-white") %>
					</th>
				</tr>


				<tr id="flash_messages">
					<td colspan="18" style="display: none; border: 0; padding-top: 10px; ">
						<div class="alert" style="text-align:center; padding: 2px; margin: 0; ">
						</div>
					</td>
				</tr>
			</table>


			<div id="products_list" style="border: 0px solid red; ">	
				<table id="table_products_list"  style="border: 0px solid green; ">
					<% @budgets_products.each do |budget_product| %>
						<%= render partial: 'budget_list_row',
											 locals: {budget_product: budget_product,
											 				  budget: @budget} %>
					<% end %>
				</table>
			</div>

			<div id="div_table_results" style="border: 0px solid green; ">
				<%= render partial: 'table_results' %>
			</div>
		</div>

		

		<div class="clearfix"></div>

		<div id="products_search_results_div" class=" no_borders_shadow" style="border: 0px solid red; ">
			<div id="products_search_div" style="border: 0px solid red; ">
				<div id="products_search_form" class="no_borders_shadow" style="border: 0px solid green; ">
					

					<div class="clearfix"></div>

				</div>
			
				<div id="products" style="border: 0px solid black; margin-top: 5px; ">
					<table>
						<tr style="display: none; ">
							<th>
								<%= t :"activerecord.attributes.product.code" %>
							</th>

							<th>
								<%= t :"activerecord.attributes.product.supplier_id" %>
							</th>

							<th>
								<%= t :"activerecord.attributes.product.description" %>
							</th>

							<th>
								<%= t :"activerecord.attributes.product.price" %>
							</th>

							<th>
								<%= content_tag(:i, '', class: "icon-plus") %>
							</th>
						</tr>
					</table>


					<% @products_search_list.each do |product| %>
						<%= render 'products' %>
					<% end %>
				</div>

			</div>

		<div class="clearfix"></div>

		
		


		<div style="margin-top: 10px; ">

			<button style="float: right; " id="button_see_pdf" class="btn btn-small btn-success" name="commit" type="submit" onclick="">
	     	<%= link_to 'ver pdf', budget_path(@budget.id, format: 'pdf'), style: 'color: #fff; ', target: '_blank' %>
	  	</button>


	    <%= simple_form_for @budget,
	    										url: {controller: 'budgets', action: 'validate_budget'},
	    										method: :get,
	    										remote: true,
	    										html: {class: 'form-inline', style: 'margin: 0; padding: 0; '} do |f| %>

	    	<%= f.hidden_field :id %>

	    	<%= f.hidden_field :status,
	    										 value: 2 %>

				<button style="float: right; " id="button_close_budget" class="btn btn-small btn-primary" name="commit" type="submit" onclick="">
	      	<b>fechar orçamento</b>
	        <i id="icon-loading-confirm-customer" class=""></i>
	      </button>

		  <% end %>
		</div>

	</div>



	<%#= link_to 'Show', @budget %> 
	<%#= link_to 'Back', budgets_path %>
</center>

<% if @budget.status > 1 %>

	<script type="text/javascript">
		$('#button_see_pdf').show();
		$('#button_close_budget').hide();
	</script>

<% else %>

	<script type="text/javascript">
		$('#button_see_pdf').hide();
		$('#button_close_budget').show();
	</script>

<% end %>


<% if @budget.customer.errors.count > 0 %>

	<script type="text/javascript">
		$('#budget_client_div_show').hide();
	</script>

<% else %>

	<script type="text/javascript">
		$('#budget_client_div').hide();
	</script>

<% end %>


<script type="text/javascript">

	$('.hide_this_form').hide();
	make_td_same_width_for_budget_tables();

</script>