<div class="left_menu">

  <ul id="filter_list">
    <li class="header">
      header
    </li>
  </ul>

</div>



<div class="main_content_indexes">
  <table class="table">
    <tr>
      <th><%= t :"activerecord.attributes.budget.id" %></th>
      <th><%= t :"activerecord.attributes.budget.customer_id" %></th>
      <th width="1px"></th>
      <th><%= t :"activerecord.attributes.budget.status" %></th>
      <th><%= t :"activerecord.attributes.budget.seller" %></th>
      <th><%= t :"activerecord.attributes.budget.architect_id" %></th>
      <!--<th>Payment condition</th>-->
      <!--<th><%= t :"activerecord.attributes.budget.description" %></th>-->
      <th>pdf</th>
      <th><%= content_tag(:i, '', class: "fa fa-pencil") %></th>
      <!--<th></th>-->
    </tr>

  <% @budgets.each do |budget| %>
    <tr>
      <td><%= budget.id %></td>
      <td><%= budget.customer.name %></td>

      <td>
      	<span class="img-circle" style="color: #000; background-color: #dce9fb; padding: 5px 10px 5px 10px; text-align: center; font-weight: normal; font-size: 13px; ">
      		<%= budget.status %>
      	</span>
     	</td>

      <td>
      	<%= (t :"activerecord.attributes.budget.status#{budget.status}") %>
     	</td>
      <td><%= User.find(budget.seller_id).name %></td>
      <td><%= (User.find(budget.architect_id).name + ' ' + User.find(budget.architect_id).surname) if budget.architect_id %></td>
      <!--<td><%#= budget.payment_condition_id %></td>-->
      <!--<td><%#= budget.description %></td>-->
      <td>
				<% if budget.status < 2 %>
          <%= 'feche orç.' %>
        <% else %>
          <%= link_to content_tag(:i, '', class: "fa fa-download", style: 'font-size: 19px; '), budget_path(budget.id, format: 'pdf'), target: '_blank' %>
        <% end %>
      </td>
      <td><%= link_to content_tag(:i, '', class: "fa fa-pencil"), edit_budget_path(budget) %></td>
      <!--<td><%= link_to 'Destroy', budget, method: :delete, data: { confirm: 'Are you sure?' } %></td>-->
    </tr>
  <% end %>

    <tr>
      <td colspan="12" align="center" style="text-align: center; ">
        <%= will_paginate @budgets, inner_window: 1, outer_window: 0 %>
      </td>
    </tr>

  </table>
</div>