<center>

	<%= simple_form_for @budget, html: {class: 'form-inline'} do |f| %>

		<div id="budget_client_div" class="well no_borders_shadow">
			<table>
				<tr>
					<td align="center" width="100px" class="alert alert-warning no_borders_shadow">
						<b>orçamento nº</b>
					</td>


			    <%= f.simple_fields_for :customer, Customer.new do |c| %>
						<td width="80px" class="align_right">
							<%= c.input_field :tax_number_type,
																as: :select,
																collection: ({(t :"activerecord.customer.tax_number_type1") => 1,
																							(t :"activerecord.customer.tax_number_type2") => 2}),
																include_blank: false,
																style: 'width: 70px; ' %>
						</td>

						<td width="180px">
							<%= c.input_field :tax_number,
																style: 'width: 80%; ',
																onblur: 'search_tax_number_and_populate(this.value); ' %>
							<i id="icon-loading-customer-search" class="info_text"></i>		
						</td>


						<td class="align_right">
							nome cliente
						</td>

						<td style="">
							<%= c.input_field :name,
																style: 'width: 96%; ' %>
						</td>
					</tr>
				</table>



				<table>
					<tr>
						<td align="center" class="alert alert-warning no_borders_shadow">
							123
						</td>


						<td width="80px" class="align_right">
							end
						</td>

						<td colspan="3">
							<%= c.input_field :street,
																style: 'width: 96%; ' %>						
						</td>


						<td class="align_right">
							nº
						</td>


						<td>
							<%= c.input_field :street_number,
																style: 'width: 90%; ' %>						
						</td>
					</tr>



					<tr>
						<td align="center" class="alert alert-warning no_borders_shadow">
							<b>data</b>
						</td>	


						<td class="align_right">
							cep
						</td>

						<td>
							<%= c.input_field :postal_code,
																style: 'width: 90%; ' %>						
						</td>

						<td class="align_right">
							bairro
						</td>

						<td width="200px">
							<%= c.input_field :neighbourhood,
																style: 'width: 90%; ' %>						
						</td>

						<td width="100px" class="align_right">
							cidade
						</td>

						<td>
							<%= c.input_field :city,
																style: 'width: 90%; ' %>						
						</td>			
					</tr>				


					<tr>
						<td align="center" width="100px" class="alert alert-warning no_borders_shadow">
							<%= Time.now.strftime("%d") %>
							<%= I18n.t("date.abbr_month_names")[Time.now.strftime("%m").to_i] %>
							<%= Time.now.strftime("%Y") %>
						</td>


						<td class="align_right">
							email
						</td>


						<td>
							<%= c.input_field :email,
																style: 'width: 90%; ' %>
						</td>


						<td class="align_right">
							fixo
						</td>


						<td>
							<%= c.input_field :landline,
																style: 'width: 90%; ' %>
						</td>


						<td class="align_right">
							celular
						</td>

						<td>
							<%= c.input_field :mobile,
																style: 'width: 90%; ' %>
						</td>
					</tr>
		    <% end %>

				<tr>
					<td align="right" colspan="8" style="padding: 10px 10px 0 0; border: 0px solid red; ">
      			<button class="btn btn-small btn-primary" name="commit" type="submit" onclick="">
      				<b>confirmar cliente</b>
      				<i id="icon-loading-confirm-customer" class=""></i>
      			</button>
					</td>
				</tr>
			</table>
		</div>

	<% end %>
</center>

<%#= render 'form' %>

<%#= link_to 'Back', budgets_patd %>
