
<div class="left_menu">

  <ul id="filter_list" style="">
    <li class="header">
      header
    </li>

    <li class="first_filter">
			<%= link_to users_path(deleted: true) do %>
				arquitetos deletados
      <% end %>
    </li>
  </ul>
</div>



<div class="main_content_indexes">
  <table class="table">
    <tr>
    	<th><%= t :"activerecord.models.user" %></th>
    	<th><%= t :"activerecord.attributes.user.email" %></th>
      <th><%= t :"activerecord.attributes.user.mobile" %></th>
     	<th><%= content_tag(:i, '', class: "fa fa-pencil") %></th>
     	<th><%= content_tag(:i, '', class: "fa fa-trash-o") %></th>
    </tr>

  <% @users.each do |user| %>
    <tr>
    	<td><%= user.name + ' ' + user.surname %></td>
    	<td><%= user.email %></td>
    	<td><%= user.mobile %></td>
    	<td>
      	<%= link_to content_tag(:i, '', class: "fa fa-pencil"), edit_architect_user_path(user.id) %>
      </td>
      <td>
				<%= link_to content_tag(:i, '', class: "fa fa-trash-o", style: 'color: #3f7db2; '), user_path(user, user: {deleted: true}), method: :put, data: {confirm: (t :"dialog_text.confirm.prompt")} %>
      </td>
    </tr>
  <% end %>


    <tr>
      <td colspan="12" align="center" style="text-align: center; ">
        <%= will_paginate @budgets, inner_window: 1, outer_window: 0 %>
      </td>
    </tr>
  </table>
</div>

