<div class="left_menu">

  <ul id="filter_list">
    <li class="header">
      header
    </li>
  </ul>

</div>



<div class="main_content_indexes">
  <table class="table">
    <tr>
    	<th><%= t :"activerecord.attributes.product.product_type" %></th>
    	<th><%= t :"activerecord.attributes.product.code" %></th>
      <th><%= t :"activerecord.attributes.product.supplier_id" %></th>
      <th><%= t :"activerecord.attributes.product.description" %></th>
      <th><%= t :"activerecord.attributes.product.width" %></th>
      <th><%= t :"activerecord.attributes.product.price" %></th>
    </tr>

  <% @products.each do |product| %>
		
		<% price_computed = compute_price(product.supplier_price,
																			product.ipi,
																			product.markup,
																			1,
																			0) %>

    <tr>
    	<td><%= t :"activerecord.attributes.product.product_type#{product.product_type}" %></td>
    	<td><%= product.code %></td>
      <td><%= product.supplier.name %></td>
      <td><%= product.description %></td>
      <td><%= "#{product.width} cm" %></td>
      <td><%= number_to_currency(price_computed) %></td>
    </tr>
  <% end %>


    <tr>
      <td colspan="12" align="center" style="text-align: center; ">
        <%= will_paginate @products, inner_window: 1, outer_window: 0 %>
      </td>
    </tr>
  </table>


	<% if current_user.role == -1 %>	  
		<%= form_tag import_products_path, multipart: true do %>
		  <%= file_field_tag :file %>
		  <%= submit_tag "Import" %>
		<% end %>
	<% end %>

</div>
