<div class="left_menu">

  <ul id="filter_list" style="">
    <li class="header">
      header
    </li>

    <!--<li class="first_filter">
      <%= simple_form_for @product , html: {id: "", style: ""}, url: products_path, method: :get do |f| %>
        <%= f.input_field :code,
        						      wrapper: 'basic',
        									style: 'width: 175px; box-shadow: none; ',
        									placeholder: (t :"activerecord.attributes.product.filters.product_code") %>
      <% end %>
    </li>-->





    <li class="first_filter">
			<%= simple_form_for @product,
												url: {controller: 'products',
															action: 'index'},
												method: :get,
												html: {class: '',
															 style: 'float: left; height: 10px; border: 0px solid green; ',
															 id: ""} do |f| %>

				
				<% if params[:product] %>
					<% supplier_id = params[:product][:supplier_id] %>
				<% else %>
					<% supplier_id = nil %>
				<% end %>

				<%= f.input_field :supplier_id,
                          as: :select,
                          label: false,
                          wrapper: 'basic',
                          collection: @suppliers,
                          include_blank: 'selecione fornecedor',
                          selected: supplier_id,
                          style: 'width: 200px; float: left; ' %>


			  <%= f.input_field :search_phrase,
			  									as: :string,
													placeholder: 'código/descrição do produto',
      										style: 'width: 185px; margin-left: 0px; ' %>

				<%= f.submit 'procurar',
        						 	class: 'btn btn-primary btn-small',
        						  style: 'font-weight: bold;
        						  				padding: 2px 0px 2px 0px;
        						  				width: 200px; ' %>

			<% end %>
    </li>
  </ul>
</div>



<div class="main_content_indexes">
  <table class="table">
    <tr>
    	<th><%= t :"activerecord.attributes.product.product_type" %></th>
    	<th><%= t :"activerecord.attributes.product.code" %></th>
      <th><%= t :"activerecord.attributes.product.supplier_id" %></th>
      <th><%= t :"activerecord.attributes.product.description" %></th>
      <th><%= t :"activerecord.attributes.product.width" %></th>

      <% if current_user.role == -1 %>    
        <th><%= t :"activerecord.attributes.product.markup" %></th>
      <% end %>

      <% if current_user.role == -1 %>    
        <th><%= t :"activerecord.attributes.product.supplier_table_discount" %></th>      
      <% end %>

      <th><%= t :"activerecord.attributes.product.ipi" %></th>     
      <th><%= t :"activerecord.attributes.product.price" %></th>
      <% if current_user.role == -1 %>
      	<th><%= content_tag(:i, '', class: "fa fa-pencil") %></th>
      <% end %>
    </tr>

  <% @products.each do |product| %>
		
		<% computed_price = compute_price(product.product_type,
 																			product.supplier_price,
																			product.ipi,
																			product.markup,
																			product.supplier_table_discount,
																			1,
																			0,
																			1,
																			1,
																			nil,
																			0) %>

    <tr>
    	<td><%= t :"activerecord.attributes.product.product_type#{product.product_type}" %></td>
    	<td><%= product.code %></td>
      <td><%= product.supplier.name %></td>
      <td><%= product.description %></td>
      <td><%= "#{product.width} m" %></td>

      <% if current_user.role == -1 %>    
        <td><%= product.markup %></td>
      <% end %>

      <% if current_user.role == -1 %>    
        <td><%= "#{product.supplier_table_discount}%" %></td>
      <% end %>

      <td><%= "#{product.ipi}%" %></td>

      <td>
	      <% if !computed_price.nil? %>
	      	<%= number_to_currency(computed_price) %>
	      <% else %>
	      	<%= 'digite' %>
	      <% end %>
	    </td>

      <% if current_user.role == -1 %>
      	<td>
      		<%= link_to content_tag(:i, '', class: "fa fa-pencil"), edit_product_path(product) %>
      	</td>
      <% end %>
    </tr>
  <% end %>


    <tr>
      <td colspan="12" align="center" style="text-align: center; ">
        <%= will_paginate @products, inner_window: 1, outer_window: 0 %>
      </td>
    </tr>
  </table>


	<% if current_user.role == -1 %>	  
		<%= form_tag import_products_path, multipart: true do %>
		  <%= file_field_tag :file %>
		  <%= submit_tag "Import" %>
		<% end %>
	<% end %>

</div>
