<div class="left_menu">

  <ul id="filter_list">
    <li class="header">
      header
    </li>
  </ul>

</div>



<div class="main_content_indexes">
  <table class="table">
    <tr>
    	<th><%= t :"activerecord.attributes.product.code" %></th>
      <th><%= t :"activerecord.attributes.product.supplier_id" %></th>
      <th><%= t :"activerecord.attributes.product.description" %></th>
      <th><%= t :"activerecord.attributes.product.brand" %></th>
      <th><%= t :"activerecord.attributes.product.supplier_price" %></th>
      <th><%= t :"activerecord.attributes.product.ipi" %></th>
      <th><%= t :"activerecord.attributes.product.ncm" %></th>
      <th><%= t :"activerecord.attributes.product.width" %></th>
      <th><%= t :"activerecord.attributes.product.um" %></th>
      <!--<th></th>-->
      <th><%= content_tag(:i, '', class: "icon-pencil") %></th>
      <!--<th></th>-->
    </tr>

  <% @products.each do |product| %>
    <tr>
    	<td><%= product.code %></td>
      <td><%= product.supplier.name %></td>
      <td><%= product.description %></td>
      <td><%= product.brand %></td>
      <td><%= number_to_currency(product.supplier_price) %></td>
      <td><%= "#{product.ipi}%" %></td>
      <td><%= product.ncm %></td>
      <td><%= "#{product.width} cm" %></td>
      <td><%= product.um %></td>
      <!--<td><%#= link_to 'Show', product %></td>-->
      <td><%= link_to content_tag(:i, '', class: "icon-pencil"), edit_product_path(product) %></td>
      <!--<td><%#= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></td>-->
    </tr>
  <% end %>


    <tr>
      <td colspan="12" align="center" style="text-align: center; ">
        <%= will_paginate @products, inner_window: 1, outer_window: 0 %>
      </td>
    </tr>
  </table>



	<%= form_tag import_products_path, multipart: true do %>
	  <%= file_field_tag :file %>
	  <%= submit_tag "Import" %>
	<% end %>

</div>
