<div class="left_menu">

  <ul id="filter_list">
    <li class="header">
      header
    </li>
  </ul>

</div>




<div class="main_content">
  <table class="table">
    <tr>
      <th>Name</th>
      <th>Street</th>
      <th>Street number</th>
      <th>Neighbourhood</th>
      <th>City</th>
      <th>Address complement</th>
      <th>Cnpj</th>
      <th>Postal code</th>
      <th>Landline</th>
      <th>Cellphone</th>
      <th>Ie</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>

  <% @suppliers.each do |supplier| %>
    <tr>
      <td><%= supplier.name %></td>
      <td><%= supplier.street %></td>
      <td><%= supplier.street_number %></td>
      <td><%= supplier.neighbourhood %></td>
      <td><%= supplier.city %></td>
      <td><%= supplier.address_complement %></td>
      <td><%= supplier.cnpj %></td>
      <td><%= supplier.postal_code %></td>
      <td><%= supplier.landline %></td>
      <td><%= supplier.mobile %></td>
      <td><%= supplier.ie %></td>
      <td><%= link_to 'Show', supplier %></td>
      <td><%= link_to 'Edit', edit_supplier_path(supplier) %></td>
      <td><%= link_to 'Destroy', supplier, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>

  </table>


</div>

