<header class="navbar navbar-inverse">
  <div class="navbar-inner">
    <div class="logo">
      <%= link_to(image_tag('baway_logo1.png', width: '141', height: '45', alt: 'hiway'), suppliers_path) %>
    </div>


    <% if user_signed_in? %>
      <div class="pull-right" id="right_nav">

        <ul class="nav pull-right">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <i class="fa fa-plus" style="font-size: 16px; color:#f5d91a; "></i>
                <%= (t :"add") %>
            </a>


            <ul class="dropdown-menu">
              <li>
                <%= link_to (content_tag(:i, '', class: "fa fa-bars") + (t :"activerecord.models.budget")), new_budget_path %>
              </li>

              <!--<li>
                <%= link_to (content_tag(:i, '', class: "fa fa-truck") + (t :"activerecord.models.supplier")), new_supplier_path %>
              </li>-->

              <li>
                <%= link_to (content_tag(:i, '', class: "fa fa-user") + (t :"activerecord.attributes.budget.architect_id")), new_architect_users_path %>
              </li>                                                     
            </ul>
          </li>


          <li class="dropdown">
            <a href="#" class="dropdown-toggle word_wrap shrink_text" data-toggle="dropdown">
              <i class="fa fa-user" style="font-size: 16px; color:#396c98; "></i>
              <%= current_user.name %>
            </a>
            
            <ul class="dropdown-menu">
              <li>
	              <%= link_to edit_user_path(current_user) do %>
	                <i class="fa fa-user"></i>
	                perfil
	                <br />
	                <span style="color: #666; font-size: 11px; padding-left: 25px; ">
	                  <%= current_user.email %>
	                </span>
	              <% end %>
              </li>
              
              <li class="divider"></li>
              
              
              <li>
                <%= link_to content_tag(:i, '', class: "fa fa-off")+(t :"link_text.logout"), destroy_user_session_path, method: "delete" %>
              </li>
            </ul>
          </li>

          
        </ul>

      </div>     
    <% end %>


    <nav id="login_nav">            
      <ul class="nav-pills pull-right">
        <% if !user_signed_in? %>
          <li class="login">
            <%= link_to 'login', new_user_session_path %>
          </li>
          <!--<li class="login">
            <%= link_to 'cadastrar', new_user_registration_path %>
          </li>-->
        <% end %>
      </ul>
    </nav>
  </div>
</header>