
<% if user_signed_in? %>


  <ul id="vertical_menu">
    
    <li class="header" style="<%= 'background-color: transparent; ' if filter_list_not_present %>" >
    </li>


    <li class="first_filter <%#= menu_active_link('tickets') %>" style="">
      <%= link_to content_tag(:i, '', class: "fa fa-list-ul", style: "font-size: 16px; "), budgets_path, rel: 'tooltip', title: (t :"activerecord.models.budget").pluralize %>
    </li>



    <li class="first_filter <%#= menu_active_link('tickets') %>" style="">
      <%= link_to content_tag(:i, '', class: "fa fa-copy", style: "font-size: 16px; "), requests_path, rel: 'tooltip', title: (t :"activerecord.models.request").pluralize %>
    </li>


    <%# if can? :see_tickets_menu_link, Ticket %>
      <li class="first_filter <%#= menu_active_link('tickets') %>" style="margin-top: 13px; ">
        <%= link_to content_tag(:i, '', class: "fa fa-truck", style: "font-size: 15px; "), suppliers_path, rel: 'tooltip', title: (t :"activerecord.models.suppliers") %>
      </li>
    <%# end %>



    <li class="first_filter <%#= menu_active_link('tickets') %>" style="">
      <%= link_to content_tag(:i, '', class: "fa fa-shopping-cart", style: "font-size: 20px; "), products_path, rel: 'tooltip', title: (t :"activerecord.models.product").pluralize %>
    </li>

  </ul>
<% end %>
